repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: sh -c 'GOCACHE="$PWD/.cache/go-build" GOLANGCI_LINT_CACHE="$PWD/.cache/golangci-lint" golangci-lint run'
        language: system
        pass_filenames: false
